/* Background */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #111213, #212122, #1e1d1e, #080808);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;

}


/* Glass Card */
.signup-card {
    background: rgba(255, 255, 255, 0.29);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 40px 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    color: #fff;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.signup-card h2 {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #ff7eb9, #ff758c, #e88f74, #ffcc70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Input fields */
.signup-card input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 30px;
    border: none;
    outline: none;
    text-align: center;
}

/* Button */
.signup-card button {
    background: linear-gradient(90deg, #ff7eb9, #ff758c, #ff8a65, #ffcc70);
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signup-card button:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(255, 118, 136, 0.5);
}

/* Already have account */
.signup-card p {
    margin-top: 15px;
    font-size: 0.9rem;
}

.signup-card a {
    color: #ffcc70;
    text-decoration: none;
    font-weight: 600;
}

.signup-card a:hover {
    text-decoration: underline;
}